<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yilee.server.mapper.AuthAccountGroupsMapper">

    <resultMap id="BaseResultMap" type="top.yilee.server.pojo.AuthAccountGroups">
        <id property="id" column="id"/>
        <result property="accountId" column="account_id"/>
        <result property="groupId" column="group_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,account_id,group_id
    </sql>

    <select id="selectGroupByAccountId" resultType="top.yilee.server.pojo.AuthGroup">
        SELECT *
        FROM auth_group
        WHERE id in (
            SELECT group_id
            FROM auth_account_groups
            WHERE account_id = #{accountId}
        )
    </select>

    <select id="selectAccountByGroupId" resultType="top.yilee.server.pojo.Account">
        SELECT *
        FROM server_account
        WHERE id in (
            SELECT account_id
            FROM auth_account_groups
            WHERE group_id = #{groupId}
        )
    </select>
</mapper>
