<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liheji.server.mapper.AuthPermissionMapper">

    <cache-ref namespace="top.liheji.server.mapper.AuthPermissionMapper"/>

    <resultMap id="BaseResultMap" type="top.liheji.server.pojo.AuthPermission">
        <id property="id" column="id"/>
        <result property="codename" column="codename"/>
        <result property="model" column="model"/>
        <result property="name" column="name"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,codename,model,
        name
    </sql>

    <delete id="clear" flushCache="true">
        DELETE
        FROM auth_permission;
        ALTER TABLE auth_permission
            AUTO_INCREMENT = 1;
    </delete>
</mapper>
