<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liheji.server.mapper.AuthPermissionMapper">

    <cache-ref namespace="top.liheji.server.mapper.AuthPermissionMapper"/>

    <resultMap id="BaseResultMap" type="top.liheji.server.pojo.AuthPermission">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="codename" column="codename" jdbcType="VARCHAR"/>
        <result property="model" column="model" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <collection property="authGroups"
                    column="id"
                    fetchType="lazy"
                    javaType="top.liheji.server.pojo.AuthGroup"
                    select="top.liheji.server.mapper.AuthGroupPermissionsMapper.selectGroupByPermissionId">
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,codename,model,
        name
    </sql>

    <delete id="clear" flushCache="true">
        DELETE
        FROM auth_permission;
        ALTER TABLE auth_permission
            AUTO_INCREMENT = 1;
    </delete>
</mapper>
