<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liheji.server.mapper.AuthGroupPermissionsMapper">

    <resultMap id="BaseResultMap" type="top.liheji.server.pojo.AuthGroupPermissions">
        <id property="id" column="id"/>
        <result property="groupId" column="group_id"/>
        <result property="permissionId" column="permission_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,group_id,permission_id
    </sql>

    <select id="selectPermissionByGroupId" resultType="top.liheji.server.pojo.AuthPermission">
        SELECT *
        FROM auth_permission
        WHERE id in (
            SELECT permission_id
            FROM auth_group_permissions
            WHERE group_id = #{groupId}
        )
    </select>

    <select id="selectGroupByPermissionId" resultType="top.liheji.server.pojo.AuthGroup">
        SELECT *
        FROM auth_group
        WHERE id in (
            SELECT permission_id
            FROM auth_group_permissions
            WHERE permission_id = #{permissionId}
        )
    </select>
</mapper>
