<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yilee.server.mapper.AuthDevicesMapper">

    <resultMap id="BaseResultMap" type="top.yilee.server.pojo.AuthDevices">
        <id property="type" column="type"/>
        <result property="username" column="username"/>
        <result property="series" column="series"/>
        <result property="ip" column="ip"/>
        <result property="browser" column="browser"/>
        <result property="operateSystem" column="operate_system"/>
        <result property="lastUsed" column="last_used"/>
    </resultMap>

    <sql id="Base_Column_List">
        type
        ,username,ip,series,
        browser,operate_system,last_used
    </sql>
</mapper>
