<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liheji.server.mapper.InvoiceAttrMapper">

    <cache-ref namespace="top.liheji.server.mapper.InvoiceAttrMapper"/>

    <resultMap id="BaseResultMap" type="top.liheji.server.pojo.InvoiceAttr">
            <id property="code" column="code" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="VARCHAR"/>
            <result property="checkCode" column="check_code" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="amount" column="amount" jdbcType="VARCHAR"/>
            <result property="sellerName" column="seller_name" jdbcType="VARCHAR"/>
            <result property="purchaserName" column="purchaser_name" jdbcType="VARCHAR"/>
            <result property="commodityName" column="commodity_name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="typeOrg" column="type_org" jdbcType="VARCHAR"/>
            <result property="totalAmount" column="total_amount" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="fileAttrId" column="file_attr_id" jdbcType="INTEGER"/>
            <result property="accountId" column="account_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        code,num,check_code,
        date,amount,seller_name,
        purchaser_name,commodity_name,type,
        type_org,total_amount,update_time,
        create_time,version,file_attr_id,
        account_id
    </sql>
</mapper>
