<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liheji.server.mapper.PersistentDevicesMapper">

    <cache-ref namespace="top.liheji.server.mapper.PersistentDevicesMapper"/>

    <resultMap id="BaseResultMap" type="top.liheji.server.pojo.PersistentDevices">
            <id property="type" column="type" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="series" column="series" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="operateSystem" column="operate_system" jdbcType="VARCHAR"/>
            <result property="lastUsed" column="last_used" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        type,username,ip,series,
        browser,operate_system,last_used
    </sql>
</mapper>
